.blog {
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 2px;
  padding-bottom: 5px;
}

button {
  cursor: pointer;
}

.remove-button {
  display: flex;
  border-radius: 5px;
  border: 1px solid #000;
  margin-top: 5px;
  background: red;
  font-size: 1em;
  cursor: pointer;
}

strong {
  padding-right: 5px;
}
